/* Author: Matteo Rosa (DaiEnkai)
   Version: 2.3.1
   GitHub account: https://github.com/DaiEnkai */


body {font-family: 'Orbitron', sans-serif;}
canvas {border: 1px solid #f00; background-color: #f1f1f1;}
#controlDiv {float: left; margin: auto; margin-right: 15px;}
#controls {border: 3px rgb(82, 82, 82) solid; border-radius: 20px 5px; background-color: rgba(82, 82, 82, 0.2); padding: 5px; font-size: 15px; margin-bottom: 5px;}
#controlsIcons {width: 30px; margin-left: 9px; position: relative;}
.inputIcon {width:100%; border: 3px rgb(82, 82, 82) solid; border-radius: 20px 5px; padding: 15px; background-color: rgba(82, 82, 82, 0.2);}
img.inputIcon[data-input='selected'] {opacity: 1;}
img.inputIcon[data-input='unselected'] {opacity: 0.4;}
#gameArea {display: inline-block; text-align: center; float: left;}
#tableAchivements {width: 100%;}
.achivement {padding: 11px; background-color: rgb(189, 187, 187); border: 8px rgba(134, 134, 134, 0.5) solid; position: relative;}
.achivement .tooltipAchivement {visibility: hidden; width: 200px; background-color: rgb(189, 187, 187); border: 4px rgba(134, 134, 134, 0.5) solid; color: rgb(0, 0, 0); text-align: center; padding: 5px; border-radius: 6px;
                                   position: absolute; z-index: 1; left: 50%; margin-top: 25px; margin-left: -109px; opacity: 0; transition: opacity 1s;}
/* Tooltip arrow */
.achivement .tooltipAchivement::after {content: ""; position: absolute; bottom: 100%; left: 50%; margin-left: -10px; border-width: 10px; border-style: solid; border-color: transparent transparent rgb(162, 162, 162) transparent;}
.achivement .tooltipAchivementObtained::after {border-color: transparent transparent rgb(48, 199, 48) transparent;}
.achivement:hover .tooltipAchivement {visibility: visible; opacity: 1;}
#divArrows {display: none; margin-top: 30px;}
#tableArrows, #tableArrows td {display: inline-block;}
.directional, .oblique {border-radius: 3px; outline: none;}
.directional {width: 150px; height: 63px;}
.oblique {width: 74px; height: 63px;}
/* Modal box */                                                                                                                   /* fallback color */
.modal {display: none; position: fixed; z-index: 1; padding-top: 50px; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.4);}
.modal-content {position: relative; background-color: #fefefe; margin: auto; padding: 0; border: 1px solid #888; width: 60%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop; -webkit-animation-duration: 0.4s; animation-name: animatetop; animation-duration: 0.4s;}
@-webkit-keyframes animatetop {from {top: -300px; opacity: 0} to {top: 0; opacity: 1}}
@keyframes animatetop {from {top: -300px; opacity: 0} to {top: 0; opacity: 1}}
.modal-header {padding: 2px 16px; background-color: #0f0; color: #fff;}
.modal-footer {padding: 20px; background-color: #0f0;}
.modal-body {padding: 6px 16px 2px;}
#modal-body-table {vertical-align: middle;}
#modalImgPreview, .contentTable img {width: 120px; height: 75px; border-radius: 5px; cursor: pointer; transition: 0.3s;}
#modalImgPreview:hover, .contentTable img:hover {opacity: 0.7;}
span[id^="new"][id$="Label"] {margin-left: 15px;}
.close {color: #fff; float: right; font-size: 28px; font-weight: bold;}
.close:hover, .close:focus, .closeImg:hover, .closeImg:focus {color: #aaa; text-decoration: none; cursor: pointer;}
/* Modal Img */
#imgModal {background-color: rgb(0, 0, 0); background-color: rgba(0, 0, 0, 0.8);}
.modal-content-img {margin: auto; display: block; width: 80%; max-width: 700px;}
#caption {margin: auto; display: block; width: 80%; max-width: 700px; text-align: center; color: #fff; padding: 10px 0; height: 25px;}
.modal-content-img, #caption, .gameCompleted-modal-content {-webkit-animation-name: zoom; -webkit-animation-duration: 0.6s; animation-name: zoom; animation-duration: 0.6s;}
@-webkit-keyframes zoom {from {-webkit-transform:scale(0)} to {-webkit-transform:scale(1)}}
@keyframes zoom {from {transform:scale(0)} to {transform:scale(1)}}
.gameCompleted-modal-content p {font-size: 18px;}
.closeImg {position: absolute; top: 15px; right: 35px; color: #fff; font-size: 40px; font-weight: bold; transition: 0.3s;}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) { .modal-content-img {width: 100%;} }
/* Content Selector */
#contentSelection {display: none; width: 414px; margin-left: 15px; float: left;}
#contentSelection>div {position: relative; display: inline-block; width: 100%;}
.contents, #completed {color: #fff; border: 3px rgba(82, 82, 82, 0.3) solid; border-radius: 20px 5px; background-color: #f0cc00; padding: 5px; font-size: 15px; font-family: inherit; outline: none; margin-bottom: 5px;}
.contents {position: absolute; bottom: 0;}
#completed {font-size: 30px; float: right; position: relative; overflow: hidden;}
/* The "shine" element ( based on: Nicolas Gallagher - http://jsfiddle.net/KbNq7/ ; Chris Coyier - http://jsfiddle.net/chriscoyier/hk6z9/1/ ) */
#completed:after {
     animation: shine 5s ease-in-out  infinite;
     animation-delay: 1.3s;
     animation-fill-mode: forwards;
     content: "";
     position: absolute;
     top: -120%; left: -210%;
     width: 180%; height: 230%;
     opacity: 0;
     transform: rotate(15deg);

     background: rgba(255, 255, 255, 0.13);
     background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 66%,
          rgba(255, 255, 255, 0.5) 80%,
          rgba(255, 255, 255, 0.0) 100%
     );
}
/* Hover state - trigger effect */
/* Active state */
#completed:active:after {opacity: 0;}
@keyframes shine{
     10% {
          opacity: 1; top: -50%; left: -10%;
          transition-property: left, top, opacity;
          transition-duration: 0.7s, 0.7s, 0.15s;
          transition-timing-function: ease;
     }
     100% {
          opacity: 0; top: -50%; left: -10%;
          transition-property: left, top, opacity;
     }
}
.contentTable {display: none; max-height: 250px; overflow: auto; border: 1px solid #f0cc00;}
.contentTable img {width: 80px; height: 50px; margin-right: 10px;}
.contentTable audio {width: 200px; margin-right: 10px;}
.contentSelectionFirstAppearance {-webkit-animation-name: entrance; -webkit-animation-duration: 0.6s; animation-name: entrance; animation-duration: 0.6s;}
@-webkit-keyframes entrance {from {-webkit-transform:scale(5)} to {-webkit-transform:scale(1)}}
@keyframes entrance {from {transform:scale(5)} to {transform:scale(1)}}
/* Loader */
#overlay {position: fixed; z-index: 999; top: 0; left: 0; bottom: 0; right: 0; background: rgb(0, 0, 0); transition: 1s 0.4s;}
#loader {position: absolute; left: 50%; top: 50%; width: 240px; height: 240px; margin: -150px 0 0 -150px; border: 16px solid #f3f3f3; border-radius: 50%; border-top: 16px solid #DB3434; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
@-webkit-keyframes spin {0% {-webkit-transform: rotate(0deg);} 100% {-webkit-transform: rotate(360deg);}}
@keyframes spin {0% {transform: rotate(0deg);} 100% {transform: rotate(360deg);}}
#overlay img {width: 150px; height: 150px; position: absolute; left: 50%; top: 50%; margin: -89px 0 0 -89px;}
